<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!-- <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" href="/favicon.ico"></link>
<title>frontend</title> -->
<div th:replace="header::head"></div>

</head>
<body>
	<div id="wrapper">
		<div th:replace="header :: navbar"></div>

		<div id="page-content-wrapper">
			<div id="app"></div>
		</div>

	</div>
	<!-- <noscript>
		<strong>We're sorry but frontend doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<h1> Hi This is done.</h1>
	<div id="app"></div> -->

	<!-- <script src="/assets/app.min.js" ></script>
	<script src="/assets/chunk-vendors.min.js" ></script> -->

	<!-- <script src="/js/chunk-vendors.9d370f4d.js"></script>
	<script src="/js/frontend.common.js"></script> -->
<!-- <script src="https://unpkg.com/vue"></script>
<script src="/frontend.umd.js"></script>
<script src="/frontend.common.js"></script>
<link rel="stylesheet" href="/frontend.css"> -->

	<script
		th:if="${#arrays.contains(@environment.getActiveProfiles(),'dev')}"
		src="http://localhost:8888//assets/app.min.js"></script>
	<script
		th:if="${#arrays.contains(@environment.getActiveProfiles(),'dev')}"
		src="http://localhost:8888//assets/chunk-vendors.min.js"></script>


	<script
		th:if="${!#arrays.contains(@environment.getActiveProfiles(),'dev')}"
		src="/assets/app.js"></script>
	<script
		th:if="${!#arrays.contains(@environment.getActiveProfiles(),'dev')}"
		src="/assets/chunk-vendors.js"></script>

</body>
</html>
